@font-face {
    font-family: 'Bicubik';
    src: local('Bicubik'), url('bicubik.woff2') format('woff2'), url('bicubik.woff') format('woff'), url('bicubik.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
